body {
    background-color: #2d2013;
    color: #fff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#container {
    text-align: center;
}

.flex {
    display: flex;
}

input, button {
    border: 1px solid #dedede;
}

input {
    border-top-left-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem; 
    border-right: 0;
}

#searchBtn {
    cursor: pointer;
    border-left: 0;
    border-radius: 0;
    border-top-right-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
}

#randomBtn {
    cursor: pointer;
    margin-left: 1rem;
    border-radius: 0.2rem;
}



